.teclado-virtual {
  width: 20rem;
  height: 7.5rem;
  padding: 1rem 1.125rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--background-shaded);
  margin-bottom: 5rem;
  border-radius: 0.5rem;
}

.fila-teclas {
  display: flex;
  gap: 0.225rem;
  margin-bottom: 0.225rem;
}

.teclado-virtual div:nth-child(2) {
  align-self: flex-end;
}
.teclado-virtual div:nth-child(3) {
  align-self: flex-start;
}

.tecla {
  width: 1.4rem;
  height: 1.6rem;
  background: var(--tecla-back);
  border-radius: 0.125rem;
  font-size: 0.75rem;
  font-weight: 700;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--tecla-text);
  cursor: pointer;
}
.tecla:hover {
  scale: 1.1;
  transition: scale 0.2s ease;
}

.large-tecla {
  width: 2.25rem;
  font-size: 0.5rem;
}

.tecla-delete path {
  fill: var(--tecla-text);
}

.tecla-correcta {
  background-color: #66a060;
  color: #fff;
  border: unset;
}

.tecla-misplaced {
  background-color: #ceb02c;
  color: #fff;
  border: unset;
}

.tecla-erronea {
  background-color: #818181;
  color: #fff;
  border: unset;
}
