.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 566px;
  width: 512px;
  background-color: lightblue;
}
