.container-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(243, 243, 243, 0.89);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal-instrucciones {
  width: 17rem;
  height: 31.75rem;
  padding: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: var(--modal-back);
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  color: var(--text-color);
}

.modal-instrucciones h3 {
  font-size: 1.125rem;
  margin-top: 0;
}

.modal-instrucciones p {
  font-size: 0.6rem;
}

.center-text {
  text-align: center;
}

.btn-jugar {
  width: 8.2rem;
  height: 1.6rem;
  background-color: var(--accent-color);
  color: #fff;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-jugar:hover {
  scale: 1.1;
  transition: scale 0.2s ease;
}
